.darkmode-skillset {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 2vw;
    .skillset-wrapper {
        display: flex;
        flex-direction: column;
        background-color: #404040;
        padding: inherit;
        box-shadow: 8px 8px 16px 0px rgb(0 0 0 / 30%);
        border-radius: 25%;
        text-align: center;
        align-items: center;
        justify-content: center;
        .skillset-logo {
            width: 10vh;
        }
        .skillset-name {
            padding: 2vh;
            color: #a0a0a0;
            text-transform: uppercase;
        }
    }
}
