// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
.wrapper {
  display: flex;
  .aboutme-contact-wrapper {
    display: flex;
    .about-me {
      padding: 2%;
      background-color: ivory;
      .about-me-text-area {
        color: #141e55;
        border: 10px solid #141e55;
      }
      &:hover {
        .about-me-text-area {
          color: #141e55;
          border: 10px solid #141e55;
          border-radius: 50%;
        }
      }
    }
    .contact-me {
      padding: 2%;
      background-color: #141e55;
      .contact-me-text-area {
        color: ivory;
        border: 10px solid ivory;
      }
      &:hover {
        .contact-me-text-area {
          color: ivory;
          border: 10px solid ivory;
          border-radius: 50%;
        }
      }
    }
  }
}
