@import "../src/styles/variable.scss";

html {
  height: 100%;
}
.home {
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  background-image: linear-gradient(rgba(238, 191, 134, 0.25) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(238, 191, 134, 0.25) 0.1em, transparent 0.1em);
  background-size: 5em 5em;
  .SideMenu {
    position: fixed;
    height: 100vh;
    width: $sidemenu-width;
    box-shadow: 8px 8px 16px 0px rgb(0 0 0 / 40%);
  }
  .AboutMe {
    margin-left: $sidemenu-width;
  }
}
.darkmode-wrapper {
  width: 100%;
  height: 100%;
  background-color: #303030;
  background-image: linear-gradient(rgba(77, 66, 66, 0.21) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(77, 66, 66, 0.21) 0.1em, transparent 0.1em);
  background-size: 5em 5em;
  .SideMenu {
    position: fixed;
    height: 100vh;
    width: $sidemenu-width;
    box-shadow: 8px 8px 16px 0px rgb(0 0 0 / 40%);
  }
  .AboutMe {
    margin-left: $sidemenu-width;
  }
}

// and (device-width: 360px)
// and (device-height: 640px)

@media (max-width: 48rem) {
  .SideMenu {
    display: none;
  }
  .AboutMe {
    margin-left: 0 !important;
  }
}
